
h1{
      color:black;
      font-weight: normal;
}
h2{
      font-weight: normal;
}

table{
      width: 800px;
      height: 100px;
      background-color: lightgrey;
      
}
th{
      text-align: left;
}
table,th,td{
      background-position:center center;border:1px solid #d4d4d4;background-color:#ffffff;font-weight:normal;color:#555555;padding:11px 5px 11px 5px;vertical-align:middle;
}
p{
      font-weight: normal;padding:11px 5px 11px 5px;background-position:center center;vertical-align:middle;color:#555555
  }
  div {
      
      padding-right: 50px;
     
 }
    
 
